<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.module.mine">

    <application>
        <activity
            android:name=".ui.activity.share.MyShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.square.UserSquareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.square.SquareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.todo.TodoEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.todo.TodoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.collection.web.CollectWebActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.coin.RankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.coin.CoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.collection.article.CollectArticleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.setting.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>