<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.module.home">

    <application>
        <activity
            android:name=".ui.activity.article.NewArticleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.blog.BlogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.blog.BlogSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.search.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
    </application>
</manifest>